body {
    font-family: Arial, sans-serif;
    margin:0px;
    padding:0px;
}
header {
    background: #18831a;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 100%;
    cursor: pointer;
    
}

.logo {
    display: flex;
    align-items: center;
    
}
.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.logo h1 {
    margin: 0;
    font-size: 30px;
}
nav {
    margin-left: auto;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin-left: 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
.banner {
   
    text-align: center;
    padding: 50px ;
}
.banner h1{
    font-size: 50px;
}
.voucher-section {
    padding: 40px 0;
    background: #f4f4f4;
    text-align: center;
}
.voucher {
    display: inline-block;
    width: 300px;
    margin: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.voucher img {
    width: 100%;
    border-radius: 10px;
}
.cta-button {
    display: inline-block;
    background: #18831a;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.Aboutus {
    text-align: center;

}

footer {
    background: #18831a;
    color: white;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}